.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
#comments .card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-bottom: none;
}
#comments .card {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.002);
}
.chip {
    display: inline-block;
    border-radius: 16px;
    font-size: 13px;
    background-color: #eceff1;
    color: rgba(0, 0, 0, 0.7);
    height: initial;
    min-height: 25px;
    line-height: 25px;
    margin-bottom: 0rem;
    margin-right: .5rem;
    padding: 0px 10px;
    box-shadow: 0 1px 1px rgba(128, 128, 128, 0.18);
    font-weight: 600;
}
#comments .children .media .card-block {
    background: rgba(0, 0, 0, 0.02);
    padding: .75rem;
}
#comments .media p {
    margin-bottom: .1rem;
}

.hoverable {
    transition: box-shadow .5s;
}
.hoverable:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2);
}